.postLeft {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "img posttitle"
        "img postcontent";
}
.postRight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "posttitle img"
        "postcontent img";
}

.postTitle {
    grid-area: posttitle;
}

.img {
    grid-area: img;
}

.postContent {
    grid-area: postcontent;
}
