@import url("https://fonts.googleapis.com/css?family=GFS+Didot");

body {
  font-family: "GFS Didot", serif;
}

//general grid
grid-template-areas:
  "some logo lang"
  "nav nav nav"

//grid for my story
grid-template-areas:
  "imgS1 . textS1"
  "textS2 . imgS2"
  ". footer .";

//grid for my work
grid-template-areas:
    ". video ."
    "imgW1 . textW1"
    ". number ."
    ". textW2 ."
    "imgW2 . imgW3"